.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    border: solid 5px black;
    padding: 0px 10px;
    border-radius: 20px;
}
.form h1, .form button{
    text-align: center;
    margin: 10px auto;   
}
.form button{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.form-group{
    margin: 10px;
    width: 300px;
}
.form-group label{
    margin: 10px 0px;
}