body{
    background-color: bisque;
    color: aliceblue;
    background-color: rgb(0, 0, 0);
}
#input_group, #Output_group{
    text-align: center;
    margin-top: 2%;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
#input_group h1{
    margin: 20px;
    font-weight: 900;
}
 #input_group .form-control{
    border: solid 5px black;
    border-radius: 20px;
    outline-style: double;
    outline-offset: 4px;
    outline-width: 3px;
    outline-color: rgb(83, 163, 242);
    min-height: 200px;
    padding: 20px 10px;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}
#btns{   
    width: 200px;
    margin: 20px 10px;
}
#btn_group{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
@media (max-width: 650px){
    #btn_group{
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }
    #btns{   
        width: 250px;
        margin: 10px 30px;
    }  
}